.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 0;
  }

  .dropdown {
    position: relative;
    display: none;
    text-align: center;
  }
  
  .dropbtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: x-large;
    display: none;
    width: 100%;
    padding: 10px 0;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .dropdown-content ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .dropdown-content ul li{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style-type: none;
  }
  .dropdown-content ul li a{
    color: black;
  }
  
  .dropdown-content ul li:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    /* Dropdown */
    .regnav{
        display: none;
    }
    .dropdown {
      display: block;
    }
    .dropbtn {
      display: block;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    /* End Dropdown */
  }
  