@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: 'Madimi One', sans-serif;
}

/* -- Navigation Bar Stuff -- */
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: rgba(0,0,0,0.5);
}
nav{
    justify-self: right;
    padding-right: 1em
}
nav ul li{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 125%;
}
/* -- Logo Stuff -- */
.logo{
    margin: auto;
    font-size: 200%;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.logo a:hover{color: #fff;}
.logo a:visited{color: #fff;}
footer p a{color: #fff;}
footer p a:clicked{color: #fff;}
footer p a:hover{color: #fff;}
/* index.html */
header{

    display: grid;
    grid-template-columns: 20% 80%;
    font-family: 'Madimi One', sans-serif;
}
.home{
    color: #fff;
    text-align: center;

}
h1{
    padding-top: 2em;
    font-size: 400%;
}
/* -- Background Image -- */
.bkg{
    background-image: url(../images/background.png);
    min-height: 100vh;
    background-size: cover;
}
/* -- See my Work Button --*/
.button{
    border: 3px solid #fff;
    display: inline-block;
    padding: 1em;
}
.button a{
    text-decoration: none;
    color: #fff;
}
.button a:hover{color: #fff;}
.button a:visited{color: #fff;}

#wrapper{
    margin: 20px
}
footer{
    padding-top: 40vh;
    text-align: center;
    color: #fff;
}
/* -- End of Index.html -- */

/* Projects.html */
.projects{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin-left: 100px;
    margin-right: 100px;
}
.project-card{
    margin: auto;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.5);
    color: white;

}
.project-card img {
    width: 200px;
}
.project-card h2{
    margin-top: 0;
}
.project-card p{
    font-size: small;
}
.title{
    text-align: center;
    color: #fff;
}

/* Contact.html */
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 30vw;
    margin-bottom: .5em;
    margin: auto;
}
form label{
    color: #fff;
    font-size: x-large;
}
form textarea{
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
}
form input{
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none; 
}
form button{
    color: #fff;
    padding: 0px;
    margin-top: 10px;
    text-align: left;
    font-size: xx-large;
    width: 10vh;
    background: none;
    border: none;
    text-decoration: underline;
}
form button:hover{
    color: rgba(0,0,0,0.5);
}
.socials{
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}
.socials img{ width: 100px; padding: 3em;}

/* Experience */
.skills{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    
}

.skillContainer{
    text-align: center;
    color: #fff;
    padding: 1em;
}
.skillContainer h2{ padding: 0; margin: 0;}

/* About */
.about{
    margin: 100px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.about img{
    width: 100%;
    border-radius: 1.5em;
}
.about p{
    font-size: large;
}