@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: 'Madimi One', sans-serif;
}

/* -- Navigation Bar Stuff -- */
nav a{
    text-decoration: none;
    color: white;
}
nav{
    justify-self: right;
    padding-right: 1em
}
nav ul li{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 125%;
}
/* -- Logo Stuff -- */
.logo{
    margin: auto;
    font-size: 200%;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.logo a:hover{color: #fff;}
.logo a:clicked{color: #fff;}

/* index.html */
header{

    display: grid;
    grid-template-columns: 20% 80%;
    font-family: 'Madimi One', sans-serif;
}
.home{
    color: #fff;
    text-align: center;

}
h1{
    padding-top: 2em;
    font-size: 400%;
}
/* -- Background Image -- */
.bkg{
    background-image: url(../images/background.png);
    min-height: 100vh;
    background-size: cover;
}
/* -- See my Work Button --*/
.button{
    border: 3px solid #fff;
    display: inline-block;
    padding: 1em;
}
.button a{
    text-decoration: none;
    color: #fff;
}
.button a:hover{color: #fff;}
.button a:visited{color: #fff;}

#wrapper{
    margin: 20px
}
footer{
    padding-top: 40vh;
    text-align: center;
    color: #fff;
}
/* -- End of Index.html -- */
